body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Background.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}
.conversor {
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Convers%C3%A3o+1.png");
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 250px;
}

.alura-latam-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

label,
p {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
}
select,
input,
button {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  left: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2{
color:#000000;
font-size: 18px;
}
footer  {
    display: flex; 
     flex-direction: row; 
     justify-content: center; 
     padding: 32px; 
     background: url(./background.jpg); 
     width: auto; 

}
